/Launcher/bin/*
*/obj/*
*.vs/*
*.zip
*.exe
*.dll
!/Bungie/bin/Release/net4.8/ManagedBlam.dll
!/packages/Resource.Embedder.2.1.1/tasks/net46/*.dll
/icon_assets.7z
/Launcher/Properties/launchSettings.json
/OsoyoosMB/.vs/*
/OsoyoosMB/OsoyoosMB/obj/*
/OsoyoosMB/OsoyoosMB/bin/*
/Bungie/obj/*
/Bungie/bin/Release/net4.8/ManagedBlam.pdb