/Launcher/bin/*
*/obj/*
*.vs/*
*.zip
*.exe
*.dll
!/OsoyoosMB/ref/ManagedBlam.dll
!/ref/*
!/packages/Resource.Embedder.2.1.1/tasks/net46/*.dll
/icon_assets.7z
/Launcher/Properties/launchSettings.json
/ManagedBlamHelper/bin/*