name: .NET Latest

on:
  push:
    paths-ignore:
      - '*.md'
  pull_request:
    paths-ignore:
      - '*.md'

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix: # https://stackoverflow.com/a/68940067/16608030 hopefully this still works
        dotnet: [ {version: '6.0.x', path: net6.0-windows}, {version: '8.0.x', path: net8.0-windows}, {version: '9.0.x', path: net9.0-windows} ]
    env:
      DOTNET_CLI_TELEMETRY_OPTOUT : true
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: ${{ matrix.dotnet.version }}
        include-prerelease: true
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      run: dotnet test --no-restore --verbosity normal
    - name: Publish
      run: dotnet publish -c Release -r win-x64 -P:PublishSingleFile=true -p:PublishTrimmed=false --self-contained false
    - name: Upload artifact
      uses: actions/upload-artifact@v2
      with:
        name: launcher
        path: Launcher\bin\Release\${{ matrix.dotnet.path}}\win-x64\publish\
        
        
